body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote
{
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    color: #fff;
    background: url(../Images/back_sojuz6.jpg) repeat-y top center;
}

div
{
    display: block;
}

img
{
    display: inline-block;
}

#main-wrapper
{
    width: 980px;
    margin: 0 auto;
    height: auto;
}

#header-container
{
    width: 100%;
    height: 76px;
    background: url(../Images/header2.jpg) no-repeat;
    text-align: right;
    display: block;
}

#slider-wrapper
{
    width: 100%;
    height: 300px;
}

#slider-right
{
    width: 80%;
    margin: 0 auto;
}

#news-wrapper
{
    width: 100%;
    height: auto;
}

#news-container
{
    width: 80%;
    margin: 0 auto;
    
}

#content-container
{
    width: 100%;
    clear: both;
    position: relative;
    top: 0px;
    left: 0px;    
    height: auto;      
}

#content-left
{
    float: left;
    width: 20%;
    margin-bottom: 10px;
}
#content-right
{
    float: right;
    width: 70%;
    margin: 0 5%;
    margin-bottom: 10px;
    min-height: 500px;
}

.slogan
{
    float: left;
    color: #FFF;
    font: bold italic 18px "Times New Roman" , Geneva, sans-serif;
    padding: 12px 0 0 25px;
    margin: 0;
    width: 175px;
}

.footerMenu
{
    padding: 15px 0 0 243px;
    color: #abd8ff;
}
.footerMenu ul
{
    left: 0px;
}
.spacer
{
    clear: both;
    font-size: 0;
    line-height: 0;
}
.footer
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    height: 100px;
}

.small
{
    font-size: 10px;
    color: #5b78ae;
}
.footer
{
    text-align: center;
    color: #FFF; /*padding-top:15px;*/
}
.footer p
{
    padding: 10px 0px;
    margin: 0px;
}
.footer a, .footer a:visited
{
    color: #abd8ff;
}
.small
{
    font-size: 10px;
    color: #5b78ae;
}
.footerMenu
{
    padding: 15px 0 0 243px; /*background:url(Images/reklami.jpg) no-repeat left top;*/
}
.footerMenu ul
{
    list-style: none;
}
.footerMenu ul li
{
    float: left;
}
.footerMenu ul li a, .footerMenu ul li a:visited
{
    display: block;
    color: #abd8ff;
    border-right: 1px solid #abd8ff;
    text-decoration: none;
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
}

.noborder
{
    border-right: none !important;
}
.rights
{
    clear: both;
    text-align: center;
    padding-top: 7px;
    font-size: 10px;
    color: #cde2f5;
}

#error-label
{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: Red;
}

#title h2
{
    float: left;
    padding-left: 5px;
    margin: 10px auto;
    color: #ebebeb;
    font: bold 30px "Calibri" , Arial;
}

#news-wrapper h2
{
    color: #ebebeb;
    font: bold 30px "Calibri" , Arial;
}

#logout
{
    float: right;
    margin: 10px auto;
    padding-right: 10px;
    padding-top: 10px;
}

#title h3
{
    padding-left: 10px;
    margin: 10px auto;
    color: #ebebeb;
    font: bold 20px "Calibri" , Arial;
}

.separator
{
    padding: 3px 0 13px 0;
    background: url(../Images/separator.gif) repeat-x;
}

#drop-down-field
{
    float: left;
    display: inline;
    width: 230px;
    margin: 0;
    margin: 0 0 7px 0;
}

.drop-down
{
    width: 213px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color: #1e4f8a;
    font-size: 16px;
    color: #ebebeb;
    height: 36px;
}

.uploader
{
    width: 213px;
    vertical-align: bottom;
    padding: 10px 0 6px 0;
    border: 1px solid #0d2c52;
    background-color: #1e4f8a;
    font-size: 12px;
    color: #ebebeb;
    height: 25px;
}

#button
{
    float: right;
    display: inline;
    width: 100px;
    margin: 0;
    margin: 0 0 7px 0;
}

.button
{
    padding: 10px 5px 6px 3px;
    border: 1px solid #0d2c52;
    background-color: #1e4f8a;
    font-size: 14px;
    color: #ebebeb;
    height: 36px;
}

#add-member
{
    width: 333px;
    height: 300px;
    margin: 0 auto;
    padding: 5px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
}

#add-news
{
    width: 360px;
    height: auto;
    min-height: 550px;
    margin: 0 auto;
    padding: 5px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
}

#add-album
{
    width: 360px;
    height: auto;
    min-height: 300px;
    margin: 0 auto;
    padding: 5px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
}

#newsImages
{
    min-height:50px;    
    padding-left:50px;    
}
#albumImages
{
    min-height:500px;
    padding-left:5px;    
}

#gvDeleteNews
{
    width: 70%;
    margin: 10px auto;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color: #1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}

#gvDeleteAlbum
{
    width: 70%;
    margin: 10px auto;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color: #1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}

.media-list
{
    width: 280px;
}

#gvUpdate
{
    width: 70%;
    margin: 10px auto;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color: #1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}

#gvUpdateVideo
{
    width: 70%;
    margin: 10px auto;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color: #1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}

#contact-box
{
    width: 500px;
    min-height: 500px;
    padding: 50px 60px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
}

#become-member-box
{
    width: 500px;
    height: 500px;
    padding: 50px 60px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
}

.form-contact
{
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color: #1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}

.become-member-form
{
    padding: 1px 4px 1px 3px;
    border: 1px solid #0d2c52;
    background-color: #1e4f8a;
    font-size: 12px;
    color: #ebebeb;
}

#member-template
{
    padding: 10px 4px 6px 20px;
    background-color: transparent;
    font-size: 14px;
    color: #ebebeb;
    vertical-align: text-bottom;
    margin-bottom: 5px;
}

#member-template h2
{
    font-size: 18px;
    color: #ebebeb;
}

#videoHolder
{
    margin: 0 0 0 0;
}

#videoHolder h2
{
    font-size: 14px;
    color: #ebebeb;
}

#videoHolder h3
{
    font-size: 10px;
    color: #ebebeb;
}

.video
{
    padding-left: 50px;   
    color: #ebebeb;
}

.albumImages
{
    padding-left: 50px;
}

.imageNews
{
    padding-left: 50px;    
}

#add-video
{
    height: 200px;
    width: 333px;
    margin: 0 auto;
    padding: 5px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
}

#site-map
{
    width: 400px;
    margin: 70px auto;
    color: White;
}

.title-picture
{
    float: left;
    padding: 20px 1px;
    width: 200px;
    height: 180px;    
}

.news-title-box
{
    float: right;
    padding: 20px 1px;
    width: 470px;
    height: 180px; 
    color: #ebebeb;
       
}

.news-content
{
    height:auto;
    padding: 20px 1px 20px 1px;
    width:680px;    
    color: #ebebeb;
    font: 16px Arial, Helvetica, sans-serif;
}

#facebook
{ 
    margin-top:10px;
    width:225px;
    background-color:White;
}

#twitter
{ 
    margin-top:10px;
    width:225px;    
}
